# Terraform: archivos generados y descargados
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
**/.terraform/
**/.terraform/**

# Archivos de variables que pueden contener secretos
*.tfvars
*.tfvars.json

# Excepciones para plantillas de variables
!*.tfvars.example
!*.tfvars.sample
